<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Photos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='photoshare.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
</head>
<body>
    <nav class="navigation">
            <a href='/'>Home</a>
            <a href='/profile'>My Profile</a>
            <a href='/albums' method="GET">My Albums</a>
            <a href='/malbum'>Create Album</a>
            <a href='/ualbum'>Update Album</a>
            <a href='/dalbum'>Delete Album</a>
            <a href='/dphotos'>Delete Photos</a>
            <a href='/logout'>Logout</a>
    </nav>
    <br />
    <section class="message">
        {% if message %}
            <br />
            <h4>{{ message }}</h4>
            <br />
        {% endif %}
    </section>
    <section class="mess">
        {% if photos %}
            <h2>Here's your photos</h2>
            <ul>
                {% for photo in photos %}
                    <li><img src='data:image/png;base64, {{photo[2]}}'/></li>
                    <li>ID: {{photo[0]}} </li>
                    <li>Caption: {{ photo[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <section class="message">
        <div class="title">
            <h2>Delete a Photo</h2>
        </div>
        <div id="cont">
            <form method="POST" action="/dphotos">
                <label for="pid">Photo ID</label>
                <input type="int" name="pid" required="true"/><br />
                <label for="caption">Photo Caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <input type="submit" value="Delete" class="button btn btn-alt"/>
            </form>
        </div>
    </section>
    <section class="footer">
        <div id="logo">
            <h1>Photoshare</h1>
        </div>
    </section>
</body>
</html>