<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='photoshare.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
</head>
<body>
    <section class="header">
            <h1>Photoshare</h1>
    </section>
    <section class="message">
        <br />
        {% if message %}
            <h4>{{message}}!</h4>
        {% endif %}
        <br />
        {% if name %}
            <h1>Hello {{ name }}!</h1>
        {% else %}
            <a href='/login' class="btn btn-alt">Login</a>
            <a href='/register' class="btn btn-alt">Register</a>
        {% endif %}
    </section>
    <br />
    <nav class="navigation">
        <a href='/'>Home</a>
        <a href='/profile'>Profile</a>
        <a href='/psearch'>Photos</a>
        <a href='/fsearch'>Friend Search/Recomendations</a>
        <a href='/tsearch' method="GET">PhotoShare Tag Search</a>
        <a href='/comments'>Comment Search</a>
        <a href="/likePhoto">Like Photos</a>
        <a href='/logout'>Logout</a>
    </nav>
    <br />
    <section class="mess">
        {% if topUs %}
            <br />
            <section class="generalcontent">
                <h2>Top Users</h2>
            </section>
            <br />
            <ul class="message">
                {% for topU in topUs %}
                    <li>{{topU[0]}}  {{ topU[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <br />
    <section class="mess">
        {% if ptags %}
            <br />
            <section class="generaltags">
                <h2>Most popular tags</h2>
            </section>
            <ul class="message">
                {% for ptag in ptags %}
                    <li>{{ptag[0]}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <br />
    <section class="footer">
        <div id="logo">
            <h1>Welcome to Photoshare</h1>
        </div>
    </section>
</body>
</html>