<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='photoshare.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
</head>
<body>
    <nav class="navigation">
            <a href='/'>Home</a>
        </nav>
        <section class="message">
            <div class="title">
                <h1>Log In!</h1>
            </div>
            <br />
            <div class="messagel">
                <h4> or <a href='/register' method='GET' class="btn btn-alt">Register</a></h4>
            </div>
            <div id="content">
                <br/>
                <form action='/login' method='POST'>
                <label for="email">Enter your email:</label>
				<input type='text' name='email' id='email'></input>
                <br/>
                <label for="password">Enter password:</label>
				<input type='password' name='password' id='password'></input>
                <br/>
                <br/>
				<input type='submit' name='submit' class="btn btn-alt"></input>
			   </form></br>
             </div>
        </section>
        <section class="footer">
            <div id="logo">
                <h1>Welcome to Photoshare</h1>
            </div>
        </section>
</body>
</html>